<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
  $(function () {
	Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
    });
    new Highcharts.Chart({
      	chart: { renderTo: 'frontpage_chart',
 				 backgroundColor: 'transparent'
			   },
		title: { text: '' },
		series: [{
			name: "$",
			type: 'pie',
			data: [
				['Costs', <%= @frontcosts %>],
				['Fees', <%= @frontfees %>],
				['Revenue', <%= @frontsales %>]
				]
		}]
		
    });
  });
</script>
<% end %>
<div class="row">
	<div class="span12" style="text-align:center;">
		<div class="hero-unit well">
			<h1>Over <span style="text-shadow:3px 3px 5px #5e5e5e;"><%= @totalitems %></span> items Tracked <%= link_to "Start Tracking Stuff!", new_user_registration_path, :class => "btn btn-warning btn-large", :style => "font-size:20px;text-shadow:2px 1px 2px #5e5e5e;margin-top:-10px;" %></h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6">
		<div class="hero-unit well">
	  		<h1>SpotNumber</h1>
	  		<p><strong>Tracking Etsy, Ebay and Product Profitability</strong></p>
			<p>If you craft, shop, upcycle or operate any type of home based business that deals in physical product, you need to use SpotNumber. We make it easy to show you how much actual profit you are making, and where you can improve!</p>
			<p>Our platform is built from over 30 years of accounting experience and 30 years of accounting inexperience, to give you the ultimate blend of usability and power.</p>
	  		<p>
	   			<%= link_to "30-Day Trial", new_user_registration_path, :class => "btn btn-warning btn-large", :style => "font-size:30px;text-shadow:2px 1px 2px #5e5e5e;" %>
	  		</p>
		</div>
	</div>
	<div class="span6">
		<div class="hero-unit well">
			<p><strong>SpotNumber users are tracking their digital and real-world sales with amazing results</strong></p>
			<div id="frontpage_chart"></div>
		</div>
	</div>
</div>
<div class="row">
</div>