<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
	<div class="row">
		<div class="span1">
    		<%= f.input :id, :placeholder => "111" %>
		</div>
		<div class="span3">
    		<%= f.input :name, :placeholder => "Jacket w/ Stripes" %>
		</div>
		<div class="span2">
    		<%= f.input :sale, :placeholder => "$ Sold at" %>
		</div>
		<div class="span2">
    		<%= f.input :fees, :placeholder => "$ Fees" %>
		</div>
		<div class="span4">
    		<%= f.input :notes, :placeholder => "This item is ..." %>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset4">
    		<%= f.input :cost, :placeholder => "$ Cost me __" %>
		</div>
	</div>
  </div>
  <div class="row">
	<div class="span3">
    <%= f.button :submit, :class => "btn btn-success", :style => "width:200px !important;" %>
	</div>
  </div>
<% end %>
