<!DOCTYPE html>
<html>
<head>
  <title>Spotnumber - Finance for Crafters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "highcharts" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= yield :head %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32371645-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
		<a class="brand" href="/">
		  <%= image_tag('spotnumber-logo-s.png')%>
		</a>
		<div class="navbar-text pull-right">
		  <% if user_signed_in? %>
		 you are <strong><%= current_user.email %></strong> and we love you!&nbsp;&nbsp;<%= link_to "Sign out", destroy_user_session_path, :class => "btn btn-warning", :method => :delete %>
		  <% else %>
			<%= link_to "Sign In", new_user_session_path, :class => "btn btn-success btn-large", :onClick => "_gaq.push(['_trackEvent', 'Front Page', 'Sign In', 'Top right sign in']);" %>
		  <% end %>
		</div>
    </div>
  </div>
</div>
<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">×</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	<script src="realtime-notifications/src/lib/gritter/js/jquery.gritter.min.js"></script>
	<link href="realtime-notifications/src/lib/gritter/css/jquery.gritter.css"rel="stylesheet" type="text/css" />
	<script src="http://js.pusherapp.com/1.12/pusher.min.js"></script>
	<script src="realtime-notifications/src/PusherNotifier.js"></script>
	 <script type="text/javascript">
	 var pusher = new Pusher('<%= Pusher.key %>');
	 var channel = pusher.subscribe('quadcopter');
	 channel.bind('created', function(data) {
	   alert(data.greeting);
	 });
	 </script>
	
	<%= yield %>
	
</div>
</body>
</html>
