<!DOCTYPE html>
<html>
<head>
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='60645901-0',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	
  <title>Spotnumber - Finance for Crafters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "highcharts" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= yield :head %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32371645-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
		<a class="brand" href="/">
		  <%= image_tag('spotnumber-logo-s.png')%>
		</a>
		<div class="navbar-text pull-right">
			<ul class="nav nav-pills">
			  <li><a href="/">Home</a></li>
			  <li><%= link_to "About", about_path %></li>
			</ul>
		  <% if user_signed_in? %>
		 you are <strong><%= current_user.email %></strong> and we love you!&nbsp;&nbsp;<%= link_to "Sign out", destroy_user_session_path, :class => "btn btn-warning", :method => :delete %>&nbsp;<%= link_to "Edit Account", edit_user_registration_path, :class=> "btn btn-info" %>
		  <% else %>
			<%= link_to "Sign In", new_user_session_path, :class => "btn btn-success btn-large", :onClick => "_gaq.push(['_trackEvent', 'Front Page', 'Sign In', 'Top right sign in']);" %>
		  <% end %>
		</div>
    </div>
  </div>
</div>
<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">×</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	  </div>
	<% end %>
	
	<%= yield %>

</div>
<div class="container">
	<div class="row">
		<p class="pull-right">
			&copy; 2012 <%= link_to "Derek Kean", "http://www.devblink.com", :target => "_blank" %> || A HackTheMidwest Participating Creation
			</p>
		</div>
	</div>
</body>
</html>
