<div class="row">
	<div class="span6 offset3">
		<div class="hero-unit well">
		<h2>Sign up</h2>
		<h3>We are currently in a Private Alpha. For access please email info(at)spotnumber.com</h3>
		<h5>Thanks! You are the best.</h5>
		<br />

		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  			<%= f.error_notification %>

  			<div class="inputs">
    			<%= f.input :email, :required => true, :autofocus => true %>
    			<%= f.input :password, :required => true %>
    			<%= f.input :password_confirmation, :required => true %>
  			</div>

  			<div class="actions">
    			<%= f.button :submit, "Sign up", :class => "btn", :onClick => "_gaq.push(['_trackEvent', 'Registration', 'New', 'Registered']);" %>
  			</div>
			<% end %>

			<%= render 'devise/shared/links.erb' %>
			</div>
	</div>
</div>
